
<section class="section">
    <div class="container">
        <p>
            <a href="//fieldassistant.app">Field Assistant</a>
        </p>
        <p>
            Gwilyn Saunders + Ben Parslow
            <br>
            Copyright &copy; {{ now|date('Y') }}
        </p>
    </div>
</section>
